* {
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}
.body {
  font-family: ;
  
}

a {
  text-decoration: none ;
}
.padre {
  display: flex;
  flex-flow: column nowrap;
}
.header {
  background: azure;
  display: flex;
  flex-flow: column nowrap;
  height: 400px;
}
.menu {
  background: #20DAD8;
  display: flex;
  flex-flow: row nowrap;
  height: 60px;
  align-items: center;
}
.logo {
  
  flex:1 1 auto;
   
}
.logo a {
color: azure;
font-size: 30px;

}
.logo a:hover {
color: #ffd24e;
}
.nav {
   
  flex:5 1 auto;
  
}
.nav a {
color: azure;
font-size: 11px;
text-transform: uppercase;
padding: 0 10px;
letter-spacing: 2px;
}
.nav a:hover{
color: #ffd24e;
}
.social {
   
   flex:1 1 auto;
   display: flex;
   
}
.social a {
font-size: 18px;
color: azure;
padding: 0 5px;
}
.social a:hover {
color: #ffd24e;

}

.texto-principal{
  background: url(../img/backgraund-header\ perritos.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 20px;
  height: 300px;
}

h2 {
text-align: right;
}

h1 {
text-align: center;
}
  
      
.section {
   background: #20DAD8;
   display: flex;
}
.articulos {
  background: #fffb68;
  flex:2 1 auto;
  display: flex;
  flex-flow: row wrap;
}
.article {
  background: #20DAD8; 
  flex:1 1 40%;
}
.imagenConejito {
  width: 340px;
  height: 233px;
}
.navegacion {
  background: #20DAD8;
  flex:1 1  100px;
}
.aside {
  background: #cce86f; 
  flex:1 1 auto;
}
.publicidad {
  background: #20DAD8;
}
.footer {
  background: #20DAD8;
  display: flex;
  justify-content: center;
}
.pie {
  background: #55294b;
  width: 300px;
  justify-content: center;
}
@media all and (max-width: 800px) {
  .section {
    flex-direction: column;
  }
  .menu {
    flex-direction: column;
    height: auto;
  }
  .aside {
    display: flex;
    justify-content: center;
  }
}
@media all and (max-width: 600px) {
   .articulos {
       flex-direction: column;
   }
}
@media all and (max-width: 400px) {
    .aside {
       flex-direction: column;
    } 
}
