* {
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

a {
  text-decoration: none ;
}
.padre {
  display: flex;
  flex-flow: column nowrap;
}
.header {
  background: azure;
  display: flex;
  flex-flow: column nowrap;
  height: 425px;
}
.menu {
  background: #20DAD8;
  display: flex;
  flex-flow: row nowrap;
  height: 72px;
  align-items: center;
}
.logo {
  
  flex:1 1 auto;
  display: flex;
  align-items: center;
}
.logo a {
color: azure;
font-size: 30px;
height: 72px;

}
.logo a:hover {
color: #ffd24e;
}
.nav {
  flex: 1 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
}
.nav a {
  color: azure;
  font-size: 15px;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 2px;
}
.nav a:hover{
  color: #ffd24e;
}
.social {
   
  flex:1 1 auto;
  display: flex;
  color: azure;   
}
.social a {
font-size: 18px;
color: azure;
padding: 0 5px;
}

.social a:hover {
color: #ffd24e;

}

.texto-principal{
  background: url(../img/backgraund-header\ perritos.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 20px;
  height: 350px;
}

h2 {
  margin-right: 10%;
  width: 384px;
  align-self: flex-end;
  text-align: center;
  font-size: 30px;
  margin-top: 35px;
}

h1 {
  align-self: center;
  font-size: 45px;
  font-weight: bold;
}
  
      
.section {
  display: flex;
  height: 550px;
  flex-flow: column;


}
.articulos {
  flex:2 1 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;

}

.agendatuCita {
  color: black;
  font-size: 18px;
  padding: 10px;
  background: #fff239;
  margin: 1opx;
  display: inline-block;
  border-radius: 4px;
  font-weight: bold;
  height: 50px;
}
.article { 

  display: flex;
  flex: 1 1 40%;
  flex-flow: column;
  padding: 0px;
  align-items: center;
  justify-content: flex-start;
}

.article a {
  color: black;
  font-size: 18px;
  padding: 10px;
  background: #fff239;
  margin: 1opx;
  display: inline-block;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 98px;
}

.article a:hover {
background: #ff9af4;
}

h3 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  width: 472px;
}

.imagenConejito {
  width: 340px;
  height: 233px;
}

.button {
  cursor: pointer;

}

.navegacion {
  background: #20DAD8;
  flex:1 1  100px;
}
.aside {
  background: #cce86f; 
  flex:1 1 auto;
}
.publicidad {
  background: #20DAD8;
}
.footer {
  background: #20DAD8;
  display: flex;
  justify-content: center;
}
.pie {
  width: 400px;
  justify-content: center;
}
.a-footer{
  color: azure;

   
}
@media all and (max-width: 948px) {
  .section {
    flex-direction: column;
  }
  .menu {
    flex-direction: column;
    height: auto;
  }
  .aside {
    display: flex;
    justify-content: center;
  }
}
@media all and (max-width: 600px) {
   .articulos {
       flex-direction: column;
   }
}
@media all and (max-width: 400px) {
    .aside {
       flex-direction: column;
    } 
}
